@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .btnHover{
      @apply p-1 outline-none cursor-pointer hover:bg-lightblue
    }
}

@theme {
  /* Base colors */
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-lightblack: #303645;
  --color-charcoal: #17173A;

  /* Primary & Secondary */
  --color-primary: #006CFE;
  --color-primaryHover: #1d4ed8;
  --color-secondaryHover: #e0e7ff;

  /* Neutral tones */
  --color-gray: #464A55;
  --color-light-gray: #E4E8EE;
  --color-gray-border: #E1E5EE;

  /* Greens */
  --color-green: #00353E;
  --color-lightgreen: #008768;
  --color-lightgreen1: #0087684D;
  --color-darkgreen: #00606A;
  --color-dark-green: #00592B;
  --color-bggreen: #59A089;
  --color-bglighrgreen: #CFDFD7;
  --color-earthgreen: #CFDFD7;
  --color-darkgrey1: #ECF3DA;
  --color-lightgraygreen: #ADC6CB;
  --color-light-green: #D2F8E3;

  /* Reds */
  --color-red: #E52713;
  --color-darkred: #FF685F;
  --color-lightred: #FFD7D5;
  --color-dark-red: #7A0700;
  --color-light-red: #FFD7D5;

  /* Yellows */
  --color-lightyellow: #FFF7D4;
  --color-darkyellow: #732A00;
  --color-light-yellow: #FFF7D4;
  --color-dark-yellow: #574900;

  /* Blues */
  --color-lightblue: #CFE4FF;
  --color-darkblue: #2F89FC;
  --color-light-sky-blue: #F4F8FF;
  --color-tagged-blue: #016DFE;

  /* Purples */
  --color-lightpurple: #DFD8FC;
  --color-darkpurple: #140073;
  --color-light-purple: #DFD8FC;
  --color-dark-purple: #140073;

  /* Pinks */
  --color-lightpink: #E7AFCC;
  --color-darkpink: #C70C6F;
  --color-light-pink: #FFE5D4;
  --color-dark-pink: #732A00;

  /* Oranges */
  --color-ligth-orange: #FFE5D4;
  --color-dark-orange: #732A00;

  /* Greys */
  --color-grey: #E5EBEC;
  --color-lightgrey: #E3E3E3;
  --color-darkgrey: #646363;
  --color-hoverbgcolor: #e5ebec9e;
  --color-bordercolor: #C4C4C4;
  --color-bgcolor: #F5F5F5;

  /* Form colors */
  --color-form-default: #8B8F99;
  --color-form-primary: #006CFE;
  --color-form-error: #F05C5C;
  --color-form-disabled: #EFEFEF;
  --color-form-disabled-text: #A0A0A0;

  /* Drawer */
  --color-drawer-background: #F0F2F5;

  /* Legacy example theme colors */
  --color-purple: #3f3cbb;
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
}

*{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

body {
  margin: 0; 
  padding: 0; 
  background-color:#F5F5F5; 
  color: #333; 
  line-height: 1.6;
}


