.ag-theme-material {
  // Core header + row styling
  --ag-header-background-color: #f0f0f0;  // light gray header
  --ag-header-foreground-color: #4b4b4b;  // darker gray text
  --ag-header-cell-hover-background-color: #e6e6e6;
  --ag-row-hover-color: var(--grid-cell-hover);
  --ag-row-border-color: #cfd4dd;
  --ag-row-border-width: 1px;
  --ag-row-height: 24px;
  --ag-header-height: 30px;
  --ag-input-disabled-background-color: #f2f2f29c;

  // Text & font
  --ag-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  // Header
  .ag-header {
    border-bottom: 1px solid #cfd4dd;
    font-size: 12px;
    background-color: var(--ag-header-background-color);
    color: var(--ag-header-foreground-color);
  }

  .ag-header-row {
    min-height: 50px !important;
    height: 50px !important;
  }

  .ag-header-cell-text {
    color: var(--ag-header-foreground-color);
  }

  // Cells
  .ag-cell {
    font-size: 13px;
    line-height: 22px !important;
    color: #464a55;
    background-color: #f2f2f29c;
    cursor: not-allowed;
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
  }

  .ag-row-odd {
    background-color: #fff;
  }

  // Inputs / Textareas
  .ag-input-wrapper .ag-text-field-input {
    height: 24px !important;
    padding: 8px !important;
    border-radius: 2px;
    border: 0 !important;
  }

  textarea.ag-text-area-input {
    background: white !important;
  }

  // remove resizer
  .ag-header-cell-resize::after{
    display: none !important;
  }

  // Sidebar & panels
  .ag-root-wrapper {
    padding: 0 14px;
    border: 1px solid #e1e5ee !important;
    border-radius: 4px;
  }

  .ag-side-bar-right,
  .ag-side-bar-left {
    border: none !important;
  }
}
